* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(https://lp-cms-production.imgix.net/image_browser/Galaxy%20at%20night.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4);
    background-size: contain;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sun-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.sun-container img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(255, 98, 0), 0 0 15px rgb(235, 171, 74), 0 0 20px rgb(213, 176, 41), 0 0 25px rgb(244, 233, 138),
                0 0 5px rgb(255, 98, 0) inset, 0 0 10px rgb(235, 171, 74) inset, 0 0 15px rgb(213, 176, 41) inset, 0 0 20px rgb(244, 233, 138) inset;
    z-index: 0;
}

.mercurius-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid white;
}

.mercurius-container img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* transform: rotate(0) translate(65px) rotate(0); */
    animation: merkurius-rotation 1s linear infinite;
}



@keyframes merkurius-rotation {
    0% {
        transform: rotate(0) translate(65px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(65px) rotate(360deg);
    }
}

