* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(https://lp-cms-production.imgix.net/image_browser/Galaxy%20at%20night.jpg?auto=format&fit=crop&q=40&sharp=10&vib=20&ixlib=react-8.6.4);
    background-size: contain;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sun-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.sun-container img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(255, 98, 0), 0 0 15px rgb(235, 171, 74), 0 0 20px rgb(213, 176, 41), 0 0 25px rgb(244, 233, 138),
                0 0 5px rgb(255, 98, 0) inset, 0 0 10px rgb(235, 171, 74) inset, 0 0 15px rgb(213, 176, 41) inset, 0 0 20px rgb(244, 233, 138) inset;
    z-index: 0;
}

.mercurius-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid white;
}

.mercurius-container img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation: merkurius-rotation 1s linear infinite;
}

.venus-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid white;
}

.venus-container img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    animation: venus-rotation 1.5s linear infinite;
}

.earth-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 2px solid white;
}

.earth-container img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    animation: earth-rotation 2s linear infinite;
}

.mars-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
}

.mars-container img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    animation: mars-rotation 2.5s linear infinite;
}

.jupiter-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid white;
}

.jupiter-container img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    animation: jupiter-rotation 3s linear infinite;
}

.saturn-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 2px solid white;
}

.saturn-container img{
    width: 70px;
    height: 70px;
    border-radius: 70% 0;
    animation: saturn-rotation 3.5s linear infinite;
}

.uranus-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    border: 2px solid white;
}

.uranus-container img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    animation: uranus-rotation 4s linear infinite;
}

@keyframes merkurius-rotation {
    0% {
        transform: rotate(0) translate(65px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(65px) rotate(360deg);
    }
}

@keyframes venus-rotation {
    0% {
        transform: rotate(0) translate(90px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(90px) rotate(360deg);
    }
}

@keyframes earth-rotation {
    0% {
        transform: rotate(0) translate(120px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(120px) rotate(360deg);
    }
}

@keyframes mars-rotation {
    0% {
        transform: rotate(0) translate(150px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(150px) rotate(360deg);
    }
}

@keyframes jupiter-rotation {
    0% {
        transform: rotate(0) translate(200px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(200px) rotate(360deg);
    }
}

@keyframes saturn-rotation {
    0% {
        transform: rotate(0) translate(275px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(275px) rotate(360deg);
    }
}

@keyframes uranus-rotation {
    0% {
        transform: rotate(0) translate(350px) rotate(0);
    }
    100% {
        transform: rotate(360deg) translate(350px) rotate(360deg);
    }
}